/*Portfolio*/

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
}
html *{
    font-family: 'Gills Sans', 'sans-serif';
    font-family: 'verdana', 'arial';
}
a{
    text-decoration: none;
    color:  #ffffff;
}

body{
    background-color: white;
    font-size: 1rem;
    margin: 0px;
    width:  100%;
}
#header__section{
    width: 100%;
    padding: 3rem 8%;
    background-color: blueviolet;
    font-size: 1.6rem;
    height: 70px;
    position: fixed;
    top: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
}

.logo a{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1rem;
    margin-top: -1.5rem;
}

.desktop-menu{
    display: none;
}
.mobile__menu__ul{
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    height: 100dvh;
    background-color: red;
    opacity: 0.7;
    padding: 1rem;
}

.menu-m{
    list-style-type: none;
    margin:  5rem 0;
}
.menu{
    list-style-type: none;
    color: white;
    display:  inline;
}
.menu-m a{
    color: white;

}
.nav-bar{
    display: none;
}

.hamburger{
    display: block;
    color: #fff;
    font-size: 3.5rem;
    margin-top: -1.5rem;
    margin-right: .8rem;
    
}
#about, #works, #projects{
    padding: 3rem 8%;
}
.profile{
    display:block;
    align-items: auto;
    flex-wrap: wrap-reverse;
    width:100%;
    margin-top: 7rem;
    color: black;
    
}
 .profile__info{
    width: 100%;
    text-align: center;
 }
 #hello{
    font-size: large;
    color: purpleviolet;

 }
 .name__heading{
    color: purpleviolet;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    font-family: sans-serif;

 }
 .role-heading{
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
    font-family: sans-serif;
    font-weight: bold;
 }
 .profile__paragraph{
    font-size: 1.6rem;
    text-align: center;
    font-weight: medium;
    line-height: 2.2rem;
    margin-top: 1.2rem;
 }

.btm-work{
    display: block;
    padding: 15px 30px;
    color: white;
    margin: 30px auto;
    border-radius: 1.5px;
    background-color: blueviolet;
    font-size: 20px;
    border:5px solid white;
    text-align: center;
    font-weight: bolder;
}

.btn-work:hover{
    cursor: pointer;
    font-weight: bolder;
    color: lightgray;
    background-color: darkgray;
}

img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}


.profile__image{
    max-width: 100%;

}
.profile-pix{
    width: 100%;
    display: block;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.section__head{
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    color: purple-violet;
    margin-bottom: 2rem;
}
.works__services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/*.works{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-top: 100px;
    justify-content: space-evenly;
    margin-top: 1px;
}

*/

.services{
  background-color: purple;
  max-width: 100%;
  border-radius: 1.5rem solid rebeccapurple;
  padding: 1rem;
  margin: 1rem;
  color: white;

}
.works__title{
    font-size: 2rem;
    color: White;
    text-shadow: .1rem .1rem .1rem black;
    text-align:  center;
    font-weight: 1rem;
}
.services__text{
    font-size: 1rem;
    text-align: center;
    font-weight: .6rem;
    margin-top: 1rem;
}

.project__wrapper{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.project{
    padding: .5rem;
    transform:scale (1.1);
}

footer{
        background-color: blueviolet;
        width: 100%;
        padding: 3rem 8%;
        margin-top: 6rem;
    }

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.contacts__details{
    width: 100%;
    color: white;
}
.contacts__info__text p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: white;

}
.contact__details__title{
    text-align: center;
}

.social-icons{
    margin: 2rem;
    text-align: center;
    margin: 1rem auto;
}
.card{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:1rem;
    align-items: center;
    width: 100%;
}

input, textarea{
    padding:10px 10px;
    margin:5px;
    border-radius: 10px;
    border-color: gray;
    width:300px;
    border: none;
}

button, .contact__btn{
    background-color: blueviolet;
    cursor: pointer;
    padding:1.5rem 4rem;
    margin: 1rem 0;
    color: #fff;
    border:none;
    font-weight: bold;
}

input, textarea:hover{
  outline:none;
}

.fa{
    padding: 5px;
    height: 20px;
    width: 50px;
    text-decoration: none;
    margin: 0.2px 1px;
    font-size: 20px;
    width:20px;
}

.fa-facebook{
    background-color: #3b5598;
    color: white;
}

.fa-instagram{
    background-color: magenta;
    color:white;
}

.fa-youtube{
    background-color: red;
    color: white;
}

.fa-linkedin{
    background-color: darkcyan;
    color: white;
}

.fa-github{
    background-color: white;
}

.project-picture{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 0%;
    
}

.copyright{
    background-color: white;
    font-family: verdana;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.1rem;
    padding: 1rem 1rem;
}

@media only screen and (min-width: 768px){

.hamburger{
    display: none;
}
.desktop-menu{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.works__services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.services{
    text-align: center;
    box-shadow: 5em;
    padding:  1rem 1rem;
    min-height: 15rem;
    max-width: 30%;
}

footer{
    width: 100%;
    display: flex;

}
.contact__details__title{
    margin-bottom: -6rem;
    text-align: center;
    gap: 0;
}
.contact__details__title{
    margin-top: .0rem;
}

.profile__info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}
.profile___info__siz{
    width: 50%;
}
.profile__image{
    width: 50%;
}

}